# {{  ansible_managed  }}
#---------------------------------------------------------------------
# Global settings
#---------------------------------------------------------------------


#=========================== Filebeat inputs =============================
filebeat.inputs:
{% for input in filebeat_inputs %}
  # {{ input.name }}
  - {{ input.config|to_nice_yaml|indent(4) }}
{% else %}
    []
    # no inputs are defined
{% endfor %}

#============================= Filebeat modules ===============================

filebeat.config.modules:
  # Glob pattern for configuration loading
  path: ${path.config}/modules.d/*.yml

  # Set to true to enable config reloading
  reload.enabled: false

  # Period on which files under path should be checked for changes
  #reload.period: 10s


#================================ General =====================================

name: {{  filebeat_name }}
{% if filebeat_tags %}
tags: {{ filebeat_tags|list|flatten }}
{% endif %}

# Optional fields that you can specify to add additional information to the
# output.
#fields:
#  env: staging

logging.metrics.enabled: false

#================================ Outputs =====================================

{% if filebeat_redis_output_enabled %}
#------------------------------ Redis output ----------------------------------

output.redis:
  hosts:
    {{ [filebeat_redis_output_hosts]|flatten|to_nice_yaml|indent(4) }}
  key: "{{ filebeat_redis_output_key }}"
  db: {{ filebeat_redis_output_db|int }}
  timeout: {{  filebeat_redis_output_timeout|int }}
{% endif %}

#-------------------------- Elasticsearch output ------------------------------
{% if filebeat_elasticsearch_output_enabled %}
output.elasticsearch:
  # Array of hosts to connect to.
  hosts:
    {{ [filebeat_elasticsearch_output_hosts]|flatten|to_nice_yaml|indent(4) }}
{% if filebeat_es_https %}
  protocol: "https"
  ssl.certificate_authorities:
     - {{ filebeat_es_cert_path }}
{% else %}
  protocol: "http"
{% endif %}
{% if filebeat_es_user|default(False) %}
  username: {{ filebeat_es_user|to_json }}
  password: {{ filebeat_es_password|to_json }}
{% endif %}
{% endif %}


{% if filebeat_processors %}
#================================ Processors =====================================

# Configure processors to enhance or manipulate events generated by the beat.


processors:
{% for processor in filebeat_processors %}
  - {{ processor|to_nice_yaml|indent(4) }}
{%- endfor %}
{% endif %}
