# {{  ansible_managed  }}
#################### Packetbeat Configuration Example #########################

#============================== Network device ================================

# Select the network interface to sniff the data. On Linux, you can use the
# "any" keyword to sniff on all connected interfaces.
packetbeat.interfaces.device: '{{ packetbeat_interface }}'

#================================== Flows =====================================

# Set `enabled: false` or comment out all options to disable flows reporting.
packetbeat.flows:
  timeout: 30s

  # Configure reporting period. If set to -1, only killed flows will be reported
  period: 10s

#========================== Transaction protocols =============================

packetbeat.protocols:
- type: icmp
  # Enable ICMPv4 and ICMPv6 monitoring. Default: false
  enabled: true
- type: dns
  # Configure the ports where to listen for DNS traffic. You can disable
  # the DNS protocol by commenting out the list of ports.
  ports: [53]

#================================ General =====================================

name: {{  packetbeat_name }}
{% if packetbeat_tags %}
tags: {{ packetbeat_tags|list|flatten }}
{% endif %}

# Optional fields that you can specify to add additional information to the
# output.
#fields:
#  env: staging

#================================ Outputs =====================================

#-------------------------- Elasticsearch output ------------------------------
{% if packetbeat_elasticsearch_output_enabled %}
output.elasticsearch:
  # Array of hosts to connect to.
  hosts:
    {{ [packetbeat_elasticsearch_output_hosts]|flatten|to_nice_yaml|indent(4) }}
{% if packetbeat_es_https %}
  protocol: "https"
  ssl.certificate_authorities:
     - {{ packetbeat_es_cert_path }}
{% else %}
  protocol: "http"
{% endif %}
{% if packetbeat_es_user|default(False) %}
  username: {{ packetbeat_es_user|to_json }}
  password: {{ packetbeat_es_password|to_json }}
{% endif %}

{% endif %}

#================================ Logging ========================================
logging.metrics.enabled: false


{% if packetbeat_processors %}
#================================ Processors =====================================

# Configure processors to enhance or manipulate events generated by the beat.


processors:
{% for processor in packetbeat_processors %}
  - {{ processor }}: ~
{% endfor %}
{% endif %}
