# {{  ansible_managed  }}
#---------------------------------------------------------------------
# Global settings
#---------------------------------------------------------------------
# =========================== Modules configuration ============================

metricbeat.config.modules:
  # Glob pattern for configuration loading
  path: ${path.config}/modules.d/*.yml

  # Set to true to enable config reloading
  reload.enabled: false

  # Period on which files under path should be checked for changes
  #reload.period: 10s

# ======================= Elasticsearch template setting =======================

setup.template.settings:
  index.number_of_shards: 1
  index.codec: best_compression
  #_source.enabled: false


#================================ General =====================================

name: {{  metricbeat_name }}
{% if metricbeat_tags %}
tags: {{ metricbeat_tags|list|flatten }}
{% endif %}

# Optional fields that you can specify to add additional information to the
# output.
#fields:
#  env: staging

logging.metrics.enabled: false

#================================ Outputs =====================================

#-------------------------- Elasticsearch output ------------------------------
{% if metricbeat_elasticsearch_output_enabled %}
output.elasticsearch:
  # Array of hosts to connect to.
  hosts:
    {{ [metricbeat_elasticsearch_output_hosts]|flatten|to_nice_yaml|indent(4) }}
{% if metricbeat_es_https %}
  protocol: "https"
  ssl.certificate_authorities:
     - {{ metricbeat_es_cert_path }}
{% else %}
  protocol: "http"
{% endif %}
{% if metricbeat_es_user|default(False) %}
  username: {{ metricbeat_es_user|to_json }}
  password: {{ metricbeat_es_password|to_json }}
{% endif %}

{% endif %}


{% if metricbeat_processors %}
#================================ Processors =====================================
# Configure processors to enhance or manipulate events generated by the beat.


processors:
{% for processor in metricbeat_processors %}
  - {{ processor }}: ~
{% endfor %}
{% endif %}
